{% extends 'customer/customer_dash_base.html' %}
{% load staticfiles %}

{% block title %} Customer Dashboard {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/customer/dashboard.css" %}">
    <div class="dashboard-page">
        <h1>Customer Dashboard</h1>
        <div class="flex-container task-card-container">
            <div class="task-card" onclick="location.href = '{% url 'products_list' %}';">
                <span class="fa-icon"><i class="fas fa-shopping-cart"></i></span>
                <p class="title">Search Product</p>
            </div>
            <div class="task-card" onclick="location.href = '{% url 'companies_list' %}';">
                <span class="fa-icon"><i class="fas fa-building"></i></span>
                <p class="title">Search Company</p>
            </div>
        </div>
    </div>
{% endblock %}