{% extends 'company/company_dash_base.html' %}
{% load staticfiles %}
{% block title %}Company Products{% endblock %}

{% block dash_content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <div class="container">
        <h2>Company Products</h2>

        <table class="table table-striped table-bordered" id="product-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price ($)</th>
                <th>Category</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if products %}
                {% for p in products %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.stock }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.category }}</td>
                        <td>
                            <a href="{% url 'company_product' p.id %}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th colspan="2" id="no-friends-th">No products to display</th>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#product-table').DataTable();
        });
    </script>
{% endblock %}
