{% extends 'company/company_dash_base.html' %}
{% load staticfiles %}
{% block title %}Product{% endblock %}

{% block dash_content %}
    <style>

        form {
            height: 400px;
        }

        input[disabled], select[disabled], textarea[disabled] {
            background: #fff;
            outline: none;
            border: none;
            border-width: 0;
            box-shadow: none;
            color: #000;
        }
    </style>

    <div class="container">
        <h2>Product</h2>
        <button type="button" class="btn btn-primary float-right" id="edit-btn">Edit</button>
        <form id="product-form" method="post">
            {% csrf_token %}
            <div class="fieldWrapper form-group row">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10 form-input">
                    {{ form.name }}
                </div>
            </div>
            <div class="fieldWrapper form-group row">
                {{ form.stock.errors }}
                <label for="{{ form.stock.id_for_label }}" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10 form-input">
                    {{ form.stock }}
                </div>
            </div>
            <div class="fieldWrapper form-group row">
                {{ form.price.errors }}
                <label for="{{ form.price.id_for_label }}" class="col-sm-2 col-form-label">Price ($)</label>
                <div class="col-sm-10 form-input">
                    {{ form.price }}
                </div>
            </div>
            <div class="fieldWrapper form-group row">
                {{ form.category.errors }}
                <label for="{{ form.category.id_for_label }}" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10 form-input">
                    {{ form.category }}
                </div>
            </div>
            <div class="fieldWrapper form-group row">
                {{ form.description.errors }}
                <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10 form-input">
                    {{ form.description }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <a class="btn btn-link" href="{% url 'company_product_reviews' product.id %}">Reviews</a>
        <a class="btn btn-link" href="{% url 'company_product_analyse' product.id %}">Sentiment Analysis</a>
    </div>

    <script type="application/javascript">
        $(document).ready(function() {
            saveState();
            let isDisabled = true;
            toggleEdit(isDisabled);

            $('#edit-btn').click(function() {
                isDisabled = !isDisabled;
                toggleEdit(isDisabled);

                if(isDisabled) {
                    $('#edit-btn').addClass('btn-primary');
                    $('#edit-btn').removeClass('btn-secondary');
                    $('#edit-btn').text('Edit');
                } else {
                    $('#edit-btn').removeClass('btn-primary');
                    $('#edit-btn').addClass('btn-secondary');
                    $('#edit-btn').text('Cancel');
                }
            });

            // ----------------

            function toggleEdit(disabled) {
                $('input').prop('disabled', disabled);
                $('select').prop('disabled', disabled);
                $('textarea').prop('disabled', disabled);

                if(disabled) {
                    $('button[type=submit]').hide();
                    restoreState();
                } else {
                    $('button[type=submit]').show();
                    saveState();
                }
            }

            function saveState() {
                [].forEach.call(document.querySelector('#product-form').elements, function (el) {
                    localStorage.setItem(el.name, el.value);
                });
                console.log('saved!');
            }
            function restoreState() {
                [].forEach.call(document.querySelector('#product-form').elements, function(el) {
                  el.value = localStorage.getItem(el.name);
                });
                console.log('restored!');
            }

        });
    </script>
{% endblock %}
