{% extends 'company/company_dash_base.html' %}
{% load staticfiles %}
{% block title %}Product Reviews{% endblock %}

{% block dash_content %}
    <style>
        .user_name {
            font-size: 14px;
            font-weight: bold;
        }

        .media {
            margin-top: 15px;
        }

        .comments-list .media {
            border-bottom: 1px dotted #ccc;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1>
                        {% if num_reviews %}
                            <small class="float-right">{{ num_reviews }} reviews</small>
                        {% endif %}
                        Reviews
                    </h1>
                </div>
                <div class="comments-list">
                    {% if reviews %}
                        {% for r in reviews %}
                            <div class="media">
                                <div class="media-body">
                                    {% if r.user %}
                                        <img src="https://picsum.photos/40/40/?random">
                                        <h4 class="media-heading user_name">{{ r.user.username }}</h4>
                                    {% else %}
                                        <img src="https://picsum.photos/g/40/40?image=904">
                                        <h4 class="media-heading user_name">Anonymous</h4>
                                    {% endif %}
                                    {{ r.content }}
                                    <p></p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No reviews to display</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
