{% extends 'Companies.html' %}
{% load staticfiles %}

{% block title %}Companies Information{% endblock %}

{% block content %}
	<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-8 col-12-medium">

								<section>
									 <h3 class="card-title">{{ company.user.username }}</h3>
                                     <h4 class="card-subtitle">{{ company.category }}</h4>
                                     <p class="card-text text-truncate">{{ company.description }}</p>
									
								</section>

							</div>
							<div class="col-4 col-12-medium">

								<section>
									<h2>Company Information</h2>
									<ul class="small-image-list">
										<li>
											<a href="#"><img src="" alt="" class="left" /></a>
											<h4>Adress</h4>
											<p class="card-text text-truncate">{{ company.address }}</p>
										</li>
										<li>
											<a href="#"><img src="" alt="" class="left" /></a>
											<h4>Owner</h4>
											<p class="card-text text-truncate">{{ company.owner }}</p>
										</li>
										<li>
											<a href="#"><img src="" alt="" class="left" /></a>
											<h4>Number of employees</h4>
											<p class="card-text text-truncate">{{ company.nb_employees }}</p>
										</li>
									</ul>
								</section>

								<section>
									<h2>How about some links?</h2>
									<div>
										<div class="row">
											<div class="col-6 col-12-small">
												<ul class="link-list">
													<li><a href="#">Sed neque nisi consequat</a></li>
													<li><a href="#">Dapibus sed mattis blandit</a></li>
													<li><a href="#">Quis accumsan lorem</a></li>
													<li><a href="#">Suspendisse varius ipsum</a></li>
													<li><a href="#">Eget et amet consequat</a></li>
												</ul>
											</div>
											<div class="col-6 col-12-small">
												<ul class="link-list">
													<li><a href="#">Quis accumsan lorem</a></li>
													<li><a href="#">Sed neque nisi consequat</a></li>
													<li><a href="#">Eget et amet consequat</a></li>
													<li><a href="#">Dapibus sed mattis blandit</a></li>
													<li><a href="#">Vitae magna sed dolore</a></li>
												</ul>
											</div>
										</div>
									</div>
								</section>

							</div>
						</div>
					</div>
				</div>
	

