{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="carousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static "img/trade.jpg" %}"/>
        </div>
    </div>
</div>

    <div>
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">login</a> |
          <a href="{% url 'signup' %}">signup</a>
        {% endif %}
    </div>
{% endblock %}
