{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Products list{% endblock %}

{% block content %}
    <h2>List of products</h2>

    <div class="row justify-content-center" id="search-bar">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search a product">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for product in products %}
        <div class="product-item card">
            <div class=""card-body>
                <h3 class="card-title">{{ product.name }}</h3>
                <h4 class="card-subtitle">{{ product.company.user.username }}</h4>
                <p class="card-text text-truncate">{{ product.description }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}