{% load staticfiles %}

{% block companiesList %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <div class="row justify-content-center" id="company-search-bar">
        <div class="col-12 col-md-10 col-lg-8 w-75">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                               name="companySearchTerm" placeholder="Search a company"
                               value="{% if request.GET.companySearchTerm %}{{ request.GET.companySearchTerm }}{% endif %}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for company in companies %}
        <div class="card company-item mx-auto col-12 col-md-10 col-lg-8">
            <div class="card-body">
                <a href="{% url 'company_info' company.user.id %}">
                    <h3 class="card-title">{{ company.user.username }}</h3>
                </a>
                <h4 class="card-subtitle">{{ company.category }}</h4>
                <p class="card-text text-truncate">{{ company.description }}</p>
                {% if analyse == "true" %}
                    <a href="{% url 'investor_company_analyse' company.user.id %}">
                        <button class="btn btn-info">View Sentiment Analysis</button>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if companies.has_other_pages %}
    <nav class="pagination-bar">
        <ul class="pagination justify-content-center">
            {% if companies.has_previous %}
                <li class="page-item">
                    <a href="?page={{ companies.previous_page_number }}{% if request.GET.companySearchTerm %}
                        &companySearchTerm={{ request.GET.companySearchTerm }}{% endif %}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}

            {% for i in companies.paginator.page_range %}
                {% if companies.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}{% if request.GET.companySearchTerm %}
                        &companiesSearchTerm={{ request.GET.companySearchTerm }}{% endif %}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.companySearchTerm %}
                        &companySearchTerm={{ request.GET.companySearchTerm }}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if companies.has_next %}
                <li class="page-item">
                    <a href="?page={{ companies.next_page_number }}{% if request.GET.companiesSearchTerm %}
                        &companySearchTerm={{ request.GET.companySearchTerm }}{% endif %}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}