{% load staticfiles %}

{% block productList %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <div class="row justify-content-center" id="product-search-bar">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                               name="productSearchTerm" placeholder="Search a product"
                               value="{% if request.GET.productSearchTerm %}{{ request.GET.productSearchTerm }}{% endif %}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for product in products %}
        <div class="card product-item mx-auto col-12 col-md-10 col-lg-8">
            <div class="card-body">
                <a href="{% url 'product_info' product.id %}">
                    <h3 class="card-title">{{ product.name }}</h3>
                </a>
                <h4 class="card-subtitle">{{ product.company.user.username }}</h4>
                <p class="card-text text-truncate">{{ product.description }}</p>
                {% if analyse == "true" %}
                    <a href="{% url 'investor_product_analyse' product.id %}">
                        <button class="btn btn-info">View Sentiment Analysis</button>
                    </a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No results.</p>
    {% endfor %}

    {% if products.has_other_pages %}
    <nav class="pagination-bar">
        <ul class="pagination justify-content-center">
            {% if products.has_previous %}
                <li class="page-item">
                    <a href="?page={{ products.previous_page_number }}{% if request.GET.productSearchTerm %}
                        &productSearchTerm={{ request.GET.productSearchTerm }}{% endif %}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}

            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}{% if request.GET.productSearchTerm %}
                        &productSearchTerm={{ request.GET.productSearchTerm }}{% endif %}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.productSearchTerm %}
                        &productSearchTerm={{ request.GET.productSearchTerm }}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <li class="page-item">
                    <a href="?page={{ products.next_page_number }}{% if request.GET.productSearchTerm %}
                        &productSearchTerm={{ request.GET.productSearchTerm }}{% endif %}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}