{% extends 'base.html' %}
{% load staticfiles %}

{% block links %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'investor_dashboard' %}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Invest</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Investments</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sentiment Analysis</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}

    {% block investor_content %}
    {% endblock %}

{% endblock %}